*{	
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}


.container{
	width: 506px;
	height: 900px;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	border-top: solid 35px #075e54;
	background-color: darkgray;
	margin: 50px auto;
	position: relative;
}

.title_bar{
	background-color: #128c7e;
	width: 506px;
	height: 80px;
}

.title_top{
	overflow: hidden;
	width: 90%;
	display: block;
	margin: 0 auto;
	height: 80px;
}



.tab_menu {


width: 100%;
overflow: hidden;
height: 35px;
background-color: #128c7e;

}


.single_tab{
	width: 33.3333%;

	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	float: left;
	font-family: Roboto-Regular;
	font-size: 26px;
	border-bottom: solid 4px transparent;

	color: white;

}

.single_tab:hover,
.active{
	color: white;
	border-color: white;
	cursor: pointer;
}

.title_container {
	
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	float: left;


}

.title_container p {
	
	font-weight: 600;
	color: white;
	font-size: 28px;
	font-family: Roboto-Regular;
	

}

.back_icon {
	height: 100%;
	display: flex;
	margin-right: 8px;
	align-items: center;
	
	float: left;

}

.back_icon img{
	height: 35px;
}

.icon_container{
	width: 40%;
	float: right;
	height: 100%;

}

.icon_container div{
	height: 100%;
	display: flex;
	margin-left: 25px;
	margin-right: 5px;
	align-items: center;
	justify-content: center;
	float: right;

}

.icon_container img{
	height: 25px;
	cursor: pointer;
}

.messages_section{
	width: 100%;
	height: 785px;
	box-sizing: border-box;
	padding-bottom: 51px;
	background-color: #ECE5DD;
	overflow: hidden;


}


.single_chat{
width: 100%;
height: 110px;
position: relative;
box-sizing: border-box;
padding: 10px 30px;
background-color: #f9f9f9;
border-bottom: inset;
border-bottom-width: thin;

}

.single_chat:hover{
cursor: pointer;
background-color: lightgray;

}

.single_chat:after{
	width: 50%;
	height: 1px;
	content: "";
	background-color: #f9f9f9
	left: 50%;
	transform: translate(-50%, 0);
	position: absolute;
	bottom: 0;

}

.image_container{
	height: 100%;
	display: flex;
	width: 100px;
	align-items: center;
	justify-content: center;
	float: left;
}

.image_container img{
	height: 80%;
	border-radius: 999px;

}



.content_container_inner{
	height: auto;

	margin-left: 20px;
	background-color: green;
	box-sizing: border-box;
	width: 100%;
	display: inline;
}

.user_name{
	font-family: Roboto-Regular;
	color: black;
	
	width: 100%;
	display: block;
	    margin-left: 10px;

}


.user_name span{
	font-family: Roboto-thin;
	color: white;
	font-size: 18px;
	float: left;
	
	display: block;


}

.chat_content{
	width: 100%;
	display: block;
	font-family: Roboto-Regular;
	font-size: 18px;
	color: rgba(165, 165, 165,0.8);
	padding-top: 5px;
}

.chat_content span{
	background-color: green;
	float: right;
	border-radius: 999px;
	padding: 5px;
	box-sizing: border-box;
	width: 30px;
	overflow: hidden;
	height: 30px;
	text-align: center;
	color: white;
	font-family: "Roboto-Regular";
	font-size: 18px;
	vertical-align: -3px;
	line-height: 19px;

}




.grey_box{
width: 100%;
height: 110px;
position: relative;
box-sizing: border-box;
padding: 10px 30px;
background-color: #adadad;
border-bottom: inset;
border-bottom-width: thin;
}


.map_icon{
	height: 100%;
	display: flex;
	width: 60px;
	align-items: center;
	justify-content: center;
	float: left;
}

.map_icon img{
	height: 70%;
	border-radius: 999px;

}




.grey_box_info {
	height: auto;

	margin-left: 20px;
	background-color: green;
	box-sizing: border-box;
	width: 100%;
	display: inline;
}


.event_name{
	font-family: Roboto-bold;
	color: white;
	font-size: 20px;
	width: 100%;
	display: block;

}

.event_name span{
	font-family: Roboto-Regular;
	color: white;
	font-size: 20px;
	float: right;
	display: inline-block;


}


.event_info{
	width: 100%;
	display: block;
	font-family: Roboto-Thin;
	font-size: 20px;
	color: white;
	padding-top: 5px;

}

.event_info span{
	font-family: Roboto-bold;
	color: white;
	font-size: 20px;
	float: right;
	display: inline-block;

}


.message_area{
	width: 100%;
	height: 600px;
	box-sizing: border-box;
	overflow: hidden;


}


.bubble_white{
	height: 50px;
	display: flex;
	width: 100%;
	align-items: center;
	margin: 20px;
	margin-left: 8px;
	float: left;
}

.bubble_white img{
	height: 55px;

}


.bubble_green{
	height: 50px;
	display: flex;
	align-items: center;
	margin: 20px;
	margin-right: 8px;
	float: right;
}

.bubble_green img{
	height: 55px;

}



.bottom_part{
	width: 100%;
	height: 75px;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;

}




.message_box {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 45px;
    width: 85%;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.emoticon{
	height: 50px;
	display: flex;
	align-items: center;
	margin-left: 10px;
	margin-right: 15px;
	float: left;
}

.emoticon img{
	height: 25px;
}

.idle_message{
	font-family: Roboto-Regular;
	font-size: 18px;
	color: #afafaf;
	margin-right: 120px;

	
}

.message_box_icons{
	height: 50px;
	display: flex;
	align-items: center;
	margin-right: 15px;
	float: right;

}

.message_box_icons div{
	height: 100%;
	display: flex;
	margin-left: 25px;
	margin-right: 5px;
	align-items: center;
	justify-content: center;
	float: right;

}
	
.message_box_icons img{
	height: 25px;
}

.mic_icon{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: #128C7E;
    margin-top: 15px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.mic_icon img{
	height: 25px;
}

@font-face {
font-family: "Roboto-Regular";
src:url(font/Roboto-Regular.ttf);


}

@font-face {
font-family: "Roboto-Thin";
src:url(font/Roboto-Thin.ttf);
}

@font-face {
font-family: "Roboto-Bold";
src:url(font/Roboto-Bold.ttf);
}